<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>

    <link rel="stylesheet" href="build/site.css">
</head>
<body>
    <div class="container" ng-controller="AppController as app">
        <h1>People search</h1>
        
        <div class="row form-group">
            <div class="col-xs-12">
                <label for="search-term" class="sr-only">Search term</label>
                <input class="form-control" id="search-term" type="text" placeholder="enter your search term" ng-model="search.firstName" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4" ng-repeat="person in app.people | filter : search : strict">
                <div class="thumbnail">
                    <img src="{{person.picture}}" alt="Avatar of {{person.firstName}} {{person.lastName}}" />

                    <div class="caption text-center">
                        <h3>{{person.firstName}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="data.js"></script>
    <script src="app/app.js"></script>
    <script>
        angular.module('App').constant('people', window.data);
    </script>

</body>
</html>