$headings-color: #0080af;
$headings-font-weight: normal;

$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';