$headings-color: #0080af;
$headings-font-weight: normal;

$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';